<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.server.dao.ProductMapper">
	<resultMap id="BaseResultMap" type="com.server.pojo.Product">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="uid" jdbcType="VARCHAR" property="uid" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="descript" jdbcType="VARCHAR" property="descript" />
		<result column="description" jdbcType="VARCHAR" property="description" />
		<result column="imgsrc" jdbcType="VARCHAR" property="imgsrc" />
		<result column="price" jdbcType="INTEGER" property="price" />
		<result column="currency" jdbcType="VARCHAR" property="currency" />
		<result column="type_id" jdbcType="VARCHAR" property="typeId" />
		<result column="create_time" jdbcType="VARCHAR" property="createTime" />
		<result column="update_time" jdbcType="VARCHAR" property="updateTime" />
		<result column="edit_by" jdbcType="VARCHAR" property="editBy" />
		<result column="views" jdbcType="INTEGER" property="views" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name,descript, description, imgsrc, price, currency, type_id,
		create_time, update_time,
		edit_by,views
	</sql>
	<select id="selectById" parameterType="Map" resultType="Map">
		select
		*
		from product p,product_type t
		where 1=1 and p.type_id = t.id and LENGTH(p.name)>0
		and p.id = '${id}'
	</select>

	<select id="getByNear" parameterType="Map" resultType="Map">
		select
		*
		from product p,product_type t
		where 1=1 and p.type_id = t.id and LENGTH(p.name)>0
		and p.id = '${id}' OR p.uid = '${uid}'
	</select>

	<select id="getById" parameterType="Map" resultMap="BaseResultMap">
		select
		*
		from product p,product_type t
		where 1=1 and p.type_id = t.id and LENGTH(p.name)>0
		and p.id = '${id}'
	</select>
	<select id="selectByPage" parameterType="java.util.Map"
		resultType="Map">
		select
		*
		from product p,product_type t
		where 1=1 and p.type_id = t.id and LENGTH(p.name)>0
		<if test="name != null">
			and p.name LIKE '${name}'
		</if>
		<if test="typeId != 0">
			and t.id= ${typeId}
		</if>
		ORDER BY p.${sidx} ${sord}
		LIMIT ${pageNow},${pageSize}
	</select>
	<select id="listAll" parameterType="java.util.Map" resultMap="BaseResultMap">
		select
		*
		from product p,product_type t
		where 1=1 and p.type_id = t.id and LENGTH(p.name)>0
		<if test="name != null">
			and p.name LIKE '${name}'
		</if>
	</select>
	<select id="getByUid" parameterType="java.util.Map" resultType="Map">
		select
		*
		from product
		where 1=1 and uid='${uid}'
	</select>
	<select id="selectByUid" parameterType="java.util.Map"
		resultMap="BaseResultMap">
		select
		*
		from product
		where 1=1 and uid='${uid}'
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from product
		where uid = #{uid,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.server.pojo.Product">
		insert into product (id,uid, name,descript, description,
		imgsrc, price, currency,
		type_id, create_time, update_time,
		edit_by,views)
		values (#{id,jdbcType=INTEGER},
		#{uid,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},
		#{descript,jdbcType=VARCHAR},#{description,jdbcType=VARCHAR},
		#{imgsrc,jdbcType=VARCHAR}, #{price,jdbcType=INTEGER},
		#{currency,jdbcType=VARCHAR},
		#{typeId,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR},
		#{editBy,jdbcType=VARCHAR},#{views,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.server.pojo.Product">
		insert into product
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="uid != null">
				uid,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="descript != null">
				descript,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="imgsrc != null">
				imgsrc,
			</if>
			<if test="price != null">
				price,
			</if>
			<if test="currency != null">
				currency,
			</if>
			<if test="typeId != null">
				type_id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="editBy != null">
				edit_by,
			</if>
			<if test="views != null">
				views,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="uid != null">
				#{uid,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="descript != null">
				#{descript,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="imgsrc != null">
				#{imgsrc,jdbcType=VARCHAR},
			</if>
			<if test="price != null">
				#{price,jdbcType=INTEGER},
			</if>
			<if test="currency != null">
				#{currency,jdbcType=VARCHAR},
			</if>
			<if test="typeId != null">
				#{typeId,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=VARCHAR},
			</if>
			<if test="editBy != null">
				#{editBy,jdbcType=VARCHAR},
			</if>
			<if test="views != null">
				#{views,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.server.pojo.Product">
		update product
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="uid != null">
				uid = #{uid,jdbcType=VARCHAR},
			</if>
			<if test="descript != null">
				descript = #{descript,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="imgsrc != null">
				imgsrc = #{imgsrc,jdbcType=VARCHAR},
			</if>
			<if test="price != null">
				price = #{price,jdbcType=INTEGER},
			</if>
			<if test="currency != null">
				currency = #{currency,jdbcType=VARCHAR},
			</if>
			<if test="typeId != null">
				type_id = #{typeId,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=VARCHAR},
			</if>
			<if test="editBy != null">
				edit_by = #{editBy,jdbcType=VARCHAR},
			</if>
			<if test="views != null">
				views = views+1,
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER} OR uid=#{uid,jdbcType=VARCHAR}
	</update>
	<update id="updateByUidSelective" parameterType="com.server.pojo.Product">
		update product
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="descript != null">
				descript = #{descript,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="imgsrc != null">
				imgsrc = #{imgsrc,jdbcType=VARCHAR},
			</if>
			<if test="price != null">
				price = #{price,jdbcType=INTEGER},
			</if>
			<if test="currency != null">
				currency = #{currency,jdbcType=VARCHAR},
			</if>
			<if test="typeId != null">
				type_id = #{typeId,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=VARCHAR},
			</if>
			<if test="editBy != null">
				edit_by = #{editBy,jdbcType=VARCHAR},
			</if>
			<if test="views != null">
				views = #{views,jdbcType=VARCHAR},
			</if>
		</set>
		where uid = #{uid,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.server.pojo.Product">
		update product
		set name = #{name,jdbcType=VARCHAR},
		uid = #{uid,jdbcType=VARCHAR},
		descript = #{descript,jdbcType=VARCHAR},
		description = #{description,jdbcType=VARCHAR},
		imgsrc = #{imgsrc,jdbcType=VARCHAR},
		price = #{price,jdbcType=INTEGER},
		currency = #{currency,jdbcType=VARCHAR},
		type_id = #{typeId,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=VARCHAR},
		update_time = #{updateTime,jdbcType=VARCHAR},
		edit_by = #{editBy,jdbcType=VARCHAR},
		views = #{views,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>